<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Lista de produtos</title>
</head>
<body>
<div class="container mt-5">
    <p>Total de produtos:
        <span th:text="${#lists.size(produtos)}"></span>
    </p>
    <h1>Lista dos produtos</h1>
    <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(produtos)}">
        Nenhum produto cadastrado ainda...
    </div>

    <table class="table table-striped" th:unless="${#lists.isEmpty(produtos)}">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
            <td>Categoria</td>
            <td>Estoque</td>
            <td>Descrição</td>
            <td>Ações</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto, iterStat : ${produtos}">
            <td th:text="${iterStat.count}">.</td>
            <td th:text="${produto.nome}">.</td>
            <td th:text="${produto.preco}">0,00</td>
            <td th:text="${produto.categoria}">.</td>
            <td th:text="${produto.estoque}">.</td>
            <td th:text="${produto.descricao}">.</td>
            <td> <form th:action="@{/remover}" method="post">
                <input type="hidden" name="index" th:value="${iterStat.index}">
                <button type="submit">Remover</button>
            </form></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="/cadastrar">+ Cadastrar novo produto</a>
</div>
</body>
</html>