<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Cadastrar produto</title>
</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow p-4">
                <h1 class="h3 mb-4 text-center">Cadastrar Produto</h1>

                <form th:action="@{/cadastrar}" th:object="${produto}" method="post" onsubmit="return tudoOk()">

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" th:field="*{nome}" placeholder="Ex: Notebook" required>
                    </div>

                    <div class="form-group">
                        <label for="preco">Preço</label>
                        <input type="number" id="preco" step="0.01" class="form-control" th:field="*{preco}" placeholder="Ex: 400.90" required>
                    </div>

                    <div class="form-group">
                        <label for="categoria">Categoria</label><br>
                        <select required th:field="*{categoria}">
                            <option value="Eletrônico">Eletrônico</option>
                            <option value="Vestuario">Vestuario</option>
                            <option value="Alimentício">Alimentício</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="estoque">Estoque</label>
                        <input type="number" id ="qtd" class="form-control" th:field="*{estoque}" placeholder="Ex: 8" required>
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" th:field="*{descricao}" placeholder="Descrição do produto" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Cadastrar
                    </button>

                </form>

                <script>
                    function tudoOk(){
                        let preco = parseFloat(document.getElementById("preco").value);
                        let qtd = parseFloat(document.getElementById("qtd").value);
                        if(preco < 0 || qtd < 0){
                            alert("Valor invalido, tente novamente");
                            return false;
                        }
                        return true;
                    }
                </script>

                <a href="/lista" class="btn btn-link mt-3 text-center">
                    Ver Lista de Produtos
                </a>

            </div>

        </div>
    </div>

</div>

</body>
</html>